#sketch-grid {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-height: 1000px;
    
}

.sketch-element {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 6%;  */
    color: white;
    background-color: blue;
}